:root {
  --main-font: "Inter", sans-serif;
  --accent-font: "PressStart2P", fantasy;

  --bg-color: #ffffff;
  --text-color: #000000;
  --accent-color: #000000;
  --contour-color: #000000;
  --button-bg: #ffffff;
  
  --heart-main-color: #ff0000;
  --heart-core-color: #ff0000;
  --sparks-color: #ff0000;

  --content-width: 700px;
  --header-height: 350px;
}
